<div class="top">
    
<h1 class="top_tit">FassionRoad</h1>

<div class="top_block">
    <div class="slider">
        <%= image_tag 'top1.jpg' %>
        <%= image_tag 'top2.jpg' %>
        <%= image_tag 'top3.jpg' %>
        <%= image_tag 'top4.jpg' %>
    </div>
</div>

<div class="top_wrap">
<%= link_to 'User Log in', new_user_session_path, class: "btn top_btn" %>
<%= link_to 'Company Log in', new_company_session_path, class: "btn top_btn" %>
</div>
</div>