<h2 class="title">Company Edit</h2>
<%= form_with model: @company, url: company_path, local: true do |f| %>

<div class="col-xs-6 display-center">
  <%= f.file_field :company_image %>
</div>

<div class="col-xs-6">
   <div class="form-group display-flex">
     <%= f.label :company_name, '会社名', class: "labels" %>
     <p class="text"><%= f.text_field :company_name %></p>
    </div>
    <div class="form-group display-flex">
      <%= f.label :description, '企業紹介', class: "labels" %>
      <p class="text"><%= f.text_area :description %></p>
    </div>
</div>
<div class="actions text-right">
    <%= f.submit '変更を保存', class: 'btn btn-primary' %>
    </div>
<% end %>
