<h2 class="title">New Post</h2>

<%= form_with model: @post, url: personal_posts_path, local: true do |f| %>
  <div class="col-xs-6">
    <%= f.attachment_field :post_image %>
  </div>

  <div class="col-xs-6">
    <div class="form-group">
     <%= f.label :title, 'タイトル', class: "labels" %>
     <p class="text"><%= f.text_field :title %></p>
    </div>

    <div class="form-group">
      <%= f.label :description, '説明', class: "labels" %>
      <p class="text"><%= f.text_area :description %></p>
    </div>
  </div>

    <div class="actions text-right btn-right">
    <%= f.submit '新規登録', class: 'btn btn-primary' %>
    </div>
<% end %>
